{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Washing Machine Deals</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'washingmachine/assets/favicon.ico' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'washingmachine/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!">Washing Machine Deals</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#!">All Products</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                                <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!-- <form class="d-flex">
                        <button class="btn btn-outline-dark" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        </button>
                    </form> -->
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5" style="background-image: url('{% static 'washingmachine/images/wide.jpg' %}');">
            <div class="container px-4 px-lg-5 my-5" style="background-color: rgba(20, 20, 20, 0.89);">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Washing Machine Deals</h1>
                    <p class="lead fw-normal text-white-50 mb-0">The best prices on washing machines</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <a href="https://www.amazon.co.uk/Zanussi-ZWF745B4PW-Freestanding-CleanBoost-Programs/dp/B08R44KWVZ/ref=sr_1_1_sspa?dchild=1"><img class="card-img-top" src="{% static 'washingmachine/images/1.jpg' %}" alt="..." /></a>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Zanussi ZWF745B4PW</h5>
                                    <!-- Product price-->
                                    £309.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://www.amazon.co.uk/Zanussi-ZWF745B4PW-Freestanding-CleanBoost-Programs/dp/B08R44KWVZ/ref=sr_1_1_sspa?dchild=1">View now</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <a href="https://www.amazon.co.uk/Zanussi-ZWF845B4DG-Freestanding-CleanBoost-Programs/dp/B08R44811J/ref=sr_1_2_sspa?dchild=1"><img class="card-img-top" src="{% static 'washingmachine/images/2.jpg' %}" alt="..." /></a>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Zanussi ZWF845B4DG</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">£349.99</span>
                                    £320.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://www.amazon.co.uk/Zanussi-ZWF845B4DG-Freestanding-CleanBoost-Programs/dp/B08R44811J/ref=sr_1_2_sspa?dchild=1">View now</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <!-- Product image-->
                            <a href="https://www.amazon.co.uk/Bosch-WAU28T64GB-Freestanding-Washing-Machine/dp/B08CF3SB3J/ref=sr_1_3?dchild=1"><img class="card-img-top" src="{% static 'washingmachine/images/3.jpg' %}" alt="..." /></a>
                            <hr>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Bosch WAU28T64GB Serie 6</h5>
                                    <!-- Product price-->
                                    £449.99
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://www.amazon.co.uk/Bosch-WAU28T64GB-Freestanding-Washing-Machine/dp/B08CF3SB3J/ref=sr_1_3?dchild=1">View now</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <a href="https://www.amazon.co.uk/Hoover-H3W49TE-1400RPM-Washing-Machine/dp/B08FGKPNN7/ref=sr_1_4?dchild=1"><img class="card-img-top" src="{% static 'washingmachine/images/4.jpg' %}" alt="..." /></a>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Hoover H3W49TE</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    £275.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://www.amazon.co.uk/Hoover-H3W49TE-1400RPM-Washing-Machine/dp/B08FGKPNN7/ref=sr_1_4?dchild=1">View now</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <a href="https://www.amazon.co.uk/Bosch-WAJ24006GB-Freestanding-Washing-Machine/dp/B084ZNH8BY/ref=sr_1_5?dchild=1"><img class="card-img-top" src="{% static 'washingmachine/images/5.jpg' %}" alt="..." /></a>
                            <hr>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Bosch WAJ24006GB Serie 2</h5>
                                    <!-- Product price-->
                                    <span class="text-muted">Additional install options</span>
                                    £316.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://www.amazon.co.uk/Bosch-WAJ24006GB-Freestanding-Washing-Machine/dp/B084ZNH8BY/ref=sr_1_5?dchild=1">View now</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <a href="https://www.amazon.co.uk/CSO14103TWCE-Standing-Washing-Machine-Connected/dp/B08KJ9R396/ref=sr_1_6?dchild=1"><img class="card-img-top" src="{% static 'washingmachine/images/6.jpg' %}" alt="..." /></a>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Candy Smart Pro CSO14103TWCE</h5>
                                    <!-- Product price-->
                                    £299.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://www.amazon.co.uk/CSO14103TWCE-Standing-Washing-Machine-Connected/dp/B08KJ9R396/ref=sr_1_6?dchild=1">View now</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <a href="https://www.amazon.co.uk/Midea-MF200W70B-Freestanding-Washing-Machine/dp/B091BSFXVV/ref=sr_1_7_sspa?dchild=1&th=1"><img class="card-img-top" src="{% static 'washingmachine/images/7.jpg' %}" alt="..." /></a>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Midea MF200 Models</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    £299.99 - £599.99
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://www.amazon.co.uk/Midea-MF200W70B-Freestanding-Washing-Machine/dp/B091BSFXVV/ref=sr_1_7_sspa?dchild=1&th=1">View options</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <a href="https://www.amazon.co.uk/Whirlpool-FreshCare-FFD9448BSVUK-Freestanding-Washing/dp/B08F36VM42/ref=sr_1_8?dchild=1"><img class="card-img-top" src="{% static 'washingmachine/images/8.jpg' %}" alt="..." /></a>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Whirlpool FreshCare FFD9448BSVUK</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-half"></div>
                                    </div>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">£381.08</span>
                                    £357.99
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://www.amazon.co.uk/Whirlpool-FreshCare-FFD9448BSVUK-Freestanding-Washing/dp/B08F36VM42/ref=sr_1_8?dchild=1">View now</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">The highest quality washing machines on the web! We searched all of Amazon.com for the best washing machine prices </div>
                    <div class="col-md-4"><a class="btn btn-lg btn-secondary btn-block" href="https://www.amazon.co.uk/s?k=washing+machine">Shop washing machines on Amazon</a></div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; JTWebsite 2021 </p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'washingmachine/js/scripts.js' %}"></script>
    </body>
</html>
